# Java

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Sample outputs
*.pdf

# Random
*.log
*.bak

# Eclipse
.project
.settings/*
.classpath
.checkstyle
/bin

# The FindBugs connector for M2Eclipse makes these
.fbExcludeFilterFile

# PMD connector for Eclipse
.pmd
.pmdruleset.xml

# Git
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.orig

# Python environments
/env
/python-env

# License files
*.l4je
*.l4j

# Java properties files
*.properties

# Files in the archetype that should not be ignored by more general rules
!.settings/net.sf.jautodoc.prefs
!.settings/org.eclipse.core.resources.prefs
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
!.settings/org.eclipse.m2e.core.prefs
!src/main/resources/com/datalogics/pdf/hsm/samples/pdfjavatoolkit-ds.pdf
!user-documentation.pdf
!src/test/resources/com/datalogics/pdf/hsm/samples/util/test.properties

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
